

	
   <p class="eye">Title: <span class ="titleread">{{{title}}}</span></p>
   <p class="eye">Author: <span class ="authorread">{{{author}}}</span></p>
   <p class="eye">Time: {{{datetime}}}</p>
   <section class = "message"><p>Content: {{{content}}}</p></section>
 


